<%- include ("../header.ejs") %>
<body>
<h2>Sign-Up:</h2>
    <form action="/exercises/auth/signup" method="post">
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Username</span>
        <input type="text" name="username" placeholder="enter username"/>
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Password</span>
        <input type="password" name="password" placeholder="enter password"/>
      </div>
      <input type="submit" value="signup"/>
    </form>

 


</body>
</html>