<%- include ("./header.ejs") %>
    <h2>Current exercises in this library:</h2>
    <% for (exercise of exercises){ %>

        <h2>
            <a href="<%= exercise._id %>"><%= exercise.name %></a>
        </h2>

        <%}%>
</body>
</html>