<%- include ("./header.ejs") %>
    <h2>Current exercises in this library:</h2>
    <% for (exercise of exercises){ %>

        <h2>
            <%= exercise.name %>
            <img class = "index-img" src="<%= exercise.img%>">
        </h2>

        <%}%>
        <a href="/arms"><button>Upper Body</button></a>
        <a href = "/legs"><button>Lower Body</button></a>
        <a href = "/core"><button>Core</button></a>
</body>
</html>